VITE_REPO_URL=
VITE_GUI_URL=
VITE_CV_URL_EN=
VITE_CV_URL_PT=
VITE_LINKEDIN_URL=
VITE_GITHUB_PROFILE_URL=
VITE_LATTES_URL=
VITE_CONTACT_EMAIL=
VITE_PROJECT_C3T_URL=
VITE_PROJECT_VERTEX_COVER_URL=
VITE_PAPER_VERTEX_COVER_PDF_URL=
VITE_PAPER_GENETIC_ALGORITHMS_PDF_URL=
